@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CareerHunt - Job Search Portal</h1>
    <p style="color:blue"><b>Search for hundreds of Jobs from across the Country Here !!</b></p><br /><br />
    <p style="color:cornflowerblue"> <b>Be it to change your Present career or to start a new one ! Login Now !!</b></p>
</div>