@{
    ViewBag.Title = "UserHome_PageLoad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Job Vacancies - Apply Now</h2>
<div>

    @Html.ActionLink("Search Job", "Search_PageLoad", "SearchC")

</div>


